/*SHARED*/

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  margin: 0;
}

#celek * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#celek a {
  text-decoration: none;
  color: inherit;
}

#celek p {
  font-weight: 400;
  color: #313131;
  font-family: "Ubuntu", sans-serif;
}

#celek h2,
h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.layout-1 #celek .container {
  padding-left: 58px;
  padding-right: 58px;
}

.layout-1 #celek {
  width: 100%;
  max-width: 1250px;
  margin: auto;
}

#celek .hr-between-blocks {
  height: 8px;
  border: none;
  background: rgb(229, 0, 64);
  background: linear-gradient(90deg, rgba(229, 0, 64, 1) 0%, rgba(115, 0, 38, 1) 100%);
}

.layout-1 #celek .block-long-text {
  margin-top: 23px;
  font-size: 16px;
  line-height: 26px;
}

.layout-1 #celek .custom-header-with-top-border {
  font-size: 26px;
  font-weight: bold;
  line-height: 36px;
}

.layout-1 #celek .header-top-border {
  margin-bottom: 15.5px;
  width: 0px;
  height: 5px;
  background-color: #e5004b;
}

.layout-1 #celek .gray-block-divider {
  height: 4px;
  width: 100%;
  background-color: #e9e9e9;
}

.layout-1 #celek .text-image-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.layout-1 #celek .image-wrapper {
  position: relative;
}

.layout-1 #celek .image-gradient-div {
  width: 170px;
  height: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  z-index: 2;
  top: 0;
}

.layout-1 #celek .image-gradient-left-div {
  left: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 16%, rgba(255, 255, 255, 0) 100%);
}

.layout-1 #celek .image-gradient-right-div {
  right: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 85%);
}

.layout-1 #celek .block-imageContainer {
  width: 50.3%;
}

.layout-1 #celek .block-text {
  width: 49.7%;
}

.layout-1 #celek .block-image {
  width: 100%;
  display: block;
}

.layout-1 #celek .block-padding-left {
  padding-left: 58px;
}

.layout-1 #celek .block-padding-right {
  padding-right: 79px;
}

@media screen and (max-width: 975px) {
  .layout-1 #celek .block-imageContainer {
    width: 52%;
  }

  .layout-1 #celek .block-text {
    width: 48%;
  }

  .layout-1 #celek .custom-header-with-top-border {
    font-size: 22px;
    line-height: 30px;
  }

  .layout-1 #celek .block-long-text {
    font-size: 14px;
  }

  .layout-1 #celek .block-padding-left {
    padding-left: 38px;
  }

  .layout-1 #celek .block-padding-right {
    padding-right: 38px;
  }
}

@media screen and (max-width: 425px) {
  .mobile #celek .block-long-text {
    font-size: 14px;
  }

  .mobile #celek .custom-header-with-top-border {
    font-size: 22px;
    line-height: 30px;
  }

  .mobile #celek .text-image-wrapper {
    flex-direction: column-reverse;
  }
  .mobile #celek .block-imageContainer,
  .mobile #celek .block-text {
    width: 100%;
  }

  .layout-1 #celek .block-padding-left,
  .layout-1 #celek .block-padding-right {
    padding: 0;
  }

  .mobile #celek .block-text {
    padding: 0px 15px 17px;
  }

  .mobile #celek .image-gradient-div {
    width: 100%;
    height: 102px;
    bottom: 0;
    top: unset;
  }

  .mobile #celek .image-gradient-left-div,
  .mobile #celek .image-gradient-right-div {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
  }
}

/*BLOCK 1*/

.layout-1 #celek .block-1 .row-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 89px;
}

.layout-1 #celek .block-1 {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding-top: 99px;
  padding-bottom: 99px;
}

.layout-1 #celek .benefit-component,
.layout-1 #celek .benefit-component-clear {
  width: 100%;
}

.layout-1 #celek .benefit-component {
  padding: 63px 22px 51px;
  text-align: center;
}

.layout-1 #celek .block-1 .benefit-component:hover {
  background-color: white;
  background-image: none;
  box-shadow: 0px 5px 50px #00000059;
  transition: all 0.5s ease;
}

.layout-1 #celek .benefit-component__imageContainer {
  position: relative;
}

.layout-1 #celek .block-1 .circle-bg {
  position: absolute;
  z-index: 5;
  left: 51%;
  transform: translateX(-49%);
}

.layout-1 #celek .block-1 .circle {
  position: absolute;
  z-index: 5;
  left: 51%;
  transform: translateX(-52%);
}

.layout-1 #celek .circle-special {
  top: -87px;
  width: 130px;
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-51%);
}

.layout-1 #celek .block-1 .circle {
  top: -93px;
  width: 130px;
}

.layout-1 #celek .block-1 .circle-bg {
  width: 235px;
  top: -140px;
}

.layout-1 #celek .block-1 .benefity-image {
  width: 80%;
  position: relative;
  right: -40px;
}

.layout-1 #celek .big-heading-wrapper__heading {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}

.layout-1 #celek .block-1 .big-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-1 #celek .block-1 .benefit-component {
  background-image: linear-gradient(295deg, #e9e9e9 0%, #ffffff 100%);
  box-shadow: 0px 5px 20px #00000059;
  border: 1px solid #ffffff;
  position: relative;
  z-index: 99;
  transition: all 0.5s ease;
}

.layout-1 #celek .block-1 .benefit-component-line {
  width: 100%;
  z-index: 1;
  height: 4px;
  background: rgb(205, 205, 205);
  background: radial-gradient(
    circle,
    rgba(205, 205, 205, 0) 0%,
    rgba(235, 235, 235, 1) 50%,
    rgba(205, 205, 205, 1) 100%
  );
  position: relative;
  margin-bottom: 54px;
}

.layout-1 #celek .block-1 .header-for-benefit-component {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 12px;
}

.layout-1 #celek .block-1 .header-for-benefit-component--mgFix {
  margin-bottom: 5px;
}

.layout-1 #celek .block-1 .text-for-benefit-component {
  font-size: 18px;
  line-height: 26px;
  color: #313131;
  text-shadow: 0px 15px 40px #00000033;
  padding: 0 40px;
}

.layout-1 #celek .block-1 .benefit-component-button {
  background-color: #e3004a;
  box-shadow: 0px 10px 20px #0000004d;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 17px 35px;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -30px;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.layout-1 #celek .block-1 .benefit-component-button:hover {
  cursor: pointer;
  background-color: #85002c;
  transition: all 0.5s ease;
}

.layout-1 #celek .benefit-component-button__text {
  font-size: 18px;
  color: white;
  font-weight: 700;
  text-shadow: 0px 15px 40px #00000033;
}

.layout-1 #celek .block-1 .secondary-text-for-benefit-component {
  color: #00000033;
  font-size: 16px;
  line-height: 26px;
}

.layout-1 #celek .text-for-benefit-component-special__container {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 9px;
}

.layout-1 #celek .block-1 .text-for-benefit-component-special {
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}

.layout-1 #celek .benefits-block-image {
  width: 35%;
}

.layout-1 #celek .params-ul {
  width: 70%;
}

@media screen and (max-width: 975px) {
  .layout-0 #celek .container {
    padding-left: 39px;
    padding-right: 39px;
  }

  .layout-0 #celek .block-1 {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-top: 79px;
  }
  .layout-0 #celek .block-1 .benefity-image {
    width: 100%;
    position: relative;
    z-index: 2;
    right: 21px;
  }
  .layout-0 #celek .big-heading-wrapper__heading {
    font-size: 40px;
    line-height: 50px;
    position: relative;
    z-index: 5;
  }

  .layout-0 #celek .block-1 .header-for-benefit-component {
    font-size: 24px;
    line-height: 30px;
  }

  .layout-0 #celek .block-1 .text-for-benefit-component {
    font-size: 16px;
    line-height: 24px;
    padding: 0 20px;
  }

  .layout-0 #celek .block-1 .secondary-text-for-benefit-component {
    line-height: 20px;
  }

  .layout-0 #celek .block-1 .text-for-benefit-component-special {
    font-size: 18px;
  }

  .layout-0 #celek .block-1 .row-wrapper {
    gap: 76px;
  }

  .layout-0 #celek {
    max-width: 975px;
  }
}

@media screen and (max-width: 425px) {
  .mobile #celek {
    width: 100%;
  }

  .mobile #celek .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile #celek .block-1 {
    flex-direction: column;
    gap: 92px;
    padding-top: 32px;
    padding-bottom: 68px;
  }

  .mobile #celek .block-1 .big-heading-wrapper {
    flex-direction: column;
  }

  .mobile #celek .big-heading-wrapper__heading {
    font-size: 32px;
    line-height: 40px;
  }

  .mobile #celek .benefit-component {
    padding: 45px 17px;
  }
  .mobile #celek .block-1 .row-wrapper {
    flex-direction: column;
    gap: 92px;
  }

  .mobile #celek .block-1 .benefity-image {
    left: 10px;
  }
  .mobile #celek .block-1 .header-for-benefit-component {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.8px;
  }
  .mobile #celek .block-1 .text-for-benefit-component {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
  }

  .mobile #celek .benefit-component-button__text {
    font-size: 16px;
  }

  .mobile #celek .block-1 .benefit-component-button {
    padding: 17px 27px;
  }

  .mobile #celek .block-1 .circle-bg {
    width: 210px;
    top: -125px;
  }

  .mobile #celek .block-1 .circle {
    top: -83px;
    width: 120px;
  }

  .mobile #celek .circle-special {
    top: -81px;
    width: 124px;
  }

  .mobile #celek .block-1 .text-for-benefit-component-special {
    font-size: 16px;
  }

  .mobile #celek .text-for-benefit-component-special__container {
    gap: 15px;
  }

  .mobile #celek .block-1 .row-wrapper--first {
    gap: 14px;
  }

  .mobile #celek .params-ul {
    width: 100%;
  }
}

/*BLOCK 2*/

.layout-1 #celek .block-2 {
  padding-top: 108px;
  padding-bottom: 83px;
}

.layout-1 #celek .block-2 .heading {
  margin-top: 26.67px;
  font-size: 33px;
  line-height: 46px;
}

.layout-1 #celek .block-2 .block-2-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 74px;
}

.layout-1 #celek .block-2 .block-2-text-wrapper-left {
  max-width: 63%;
}

.layout-1 #celek .block-2 .block-2-text-wrapper-left .text {
  margin-top: 18px;
  font-size: 16px;
  line-height: 26px;
}

.layout-1 #celek .block-2 .block-2-text-wrapper-right > img {
  width: 75%;
}

.layout-1 #celek .block-2 .circles-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 81px;
  position: relative;
}

.layout-0 #celek .block-2 .circles-wrapper .block-2-circle-image {
  width: 230px;
  height: 230px;
  z-index: 2;
}

.layout-1 #celek .block-2 .circles-wrapper .circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.layout-1 #celek .block-2 .circles-wrapper .circle-text {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding: 0 40px;
  margin-top: 22px;
  padding: 0;
}

.layout-1 #celek .gray-divider-in-image {
  height: 9px;
  width: 100%;
  background-color: #e9e9e9;
  position: absolute;
  top: 80px;
}

.layout-1 #celek .gray-divider {
  margin-top: 31px;
  height: 9px;
  background-color: #e9e9e9;
}

.layout-1 #celek .benefits-block {
  display: flex;
  justify-content: flex-start;
  gap: 95px;
  padding-top: 103px;
}

.layout-1 #celek .ul-block {
  margin-top: 35.5px;
}

.layout-1 #celek .params-li {
  font-size: 16px;
  line-height: 24px;
  padding: 15px 0px 15px 40px;
  font-family: "Ubuntu", sans-serif;
  list-style: none;
  position: relative;
}

.layout-1 #celek .params-li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background: url(img/Path_5.svg) no-repeat;
  position: absolute;
  left: 0px;
  top: 20px;
}

.layout-1 #celek .param-li-border {
  border-bottom: 2px solid #cccccc;
}

.layout-1 #celek .block-2 .circles-wrapper .block-2-circle-image {
  width: 160px;
  height: 160px;
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: 0px 5px 20px #00000059;
}

@media screen and (max-width: 425px) {
  .mobile #celek .block-2 .circles-wrapper .circle {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 20px;
  }

  .mobile #celek .block-2 .circles-wrapper {
    margin-top: 36px;
  }

  .mobile #celek .block-2 .circles-wrapper .circle-text {
    padding: 0;
    text-align: left;
    font-size: 16px;
  }

  .mobile #celek .block-2 .circles-wrapper .block-2-circle-image {
    width: 130px;
    height: 130px;
  }

  .mobile #celek .block-2 .circles-wrapper {
    flex-direction: column;
    gap: 37px;
  }

  .mobile #celek .gray-divider-special {
    margin: 60px 0 0 0;
    width: 100%;
    height: 9px;
    background-color: #e9e9e9;
  }
  .mobile #celek .block-2 .block-2-text-wrapper-left .text {
    margin-top: 43px;
    line-height: 26px;
    font-size: 14px;
  }
  .mobile #celek .block-2 .block-2-text-wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }
  .mobile #celek .block-2 .heading {
    margin-top: 30.25px;
    font-size: 26px;
    line-height: 36px;
    width: 75%;
  }

  .mobile #celek .block-2 .block-2-text-wrapper-left,
  .mobile #celek .block-2 .block-2-text-wrapper-right > img {
    width: 100%;
    max-width: 100%;
  }

  .mobile #celek .gray-divider-in-image {
    top: unset;
    bottom: -50px;
  }

  .mobile #celek .gray-divider {
    display: none;
  }

  .mobile #celek .benefits-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0;
    gap: 43px;
  }

  .mobile #celek .ul-block {
    margin-top: 28.5px;
  }

  .mobile #celek .params-li {
    font-size: 14px;
  }

  .mobile #celek .benefits-block-image {
    width: 100%;
  }

  .mobile #celek .block-2 {
    padding-top: 48px;
    padding-bottom: 45px;
  }
}

/*BLOCK 3*/

/*BLOCK 4*/

.layout-1 #celek .block-4-image-wrapper {
  position: relative;
}

@media screen and (max-width: 425px) {
  .mobile #celek .block-4 .text-image-wrapper {
    flex-direction: column;
  }

  .mobile #celek .block-4 .block-4-image {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
  }
  .mobile #celek .block-4 .block-4-image-wrapper {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 0) 45%);
  }
}

/*BLOCK 5*/

.layout-1 #celek .block-5-image-wrapper {
  position: relative;
}

@media screen and (max-width: 425px) {
  .mobile #celek .block-5 .block-5-text {
    padding-top: 0;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 2;
    background-color: #ffffff;
  }

  .mobile #celek .block-5 .block-5-image {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
  }
  .mobile #celek .block-5 .block-5-image-wrapper {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 0) 45%);
  }
}

/*BLOCK 6*/

.layout-1 #celek .block-6-image-wrapper {
  position: relative;
}

@media screen and (max-width: 425px) {
  .mobile #celek .block-6 .text-image-wrapper {
    flex-direction: column;
  }

  .mobile #celek .block-6 .block-6-image {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
  }
  .mobile #celek .block-6 .block-6-image-wrapper {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 0) 45%);
  }
}

/*BLOCK 7*/

.layout-1 #celek .block-7 {
  padding-top: 54px;
  padding-bottom: 57px;
}

.layout-1 #celek .video-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.layout-1 #celek .video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (max-width: 425px) {
  .mobile #celek .block-7 {
    padding: 23px 0 27px;
  }
}

/*BLOCK 8*/

.layout-1 #celek .block-image-fix {
  width: 75%;
  margin-left: auto;
}

@media screen and (max-width: 425px) {
  .mobile #celek .block-image-fix {
    width: 100%;
    margin-left: unset;
  }
}

/*BLOCK 9*/

@media screen and (max-width: 425px) {
  .mobile #celek .block-9 .text-image-wrapper {
    flex-direction: column;
  }
}

/*BLOCK 10*/

.test {
  width: 100%;
}

.layout-1 #celek .block-10 {
  padding-top: 49px;
  padding-bottom: 57px;
}

.layout-1 #celek .table {
  margin-top: 26px;
  display: flex;
  justify-content: flex-start;
}

.layout-1 #celek .table__header {
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-width: 280px;
  width: 29%;
  position: relative;
  z-index: 5;
}

.layout-1 #celek .table__headerItemContainer {
  padding: 20px;
  background-color: #e9e9e9;
  position: relative;
}

.layout-1 #celek .table__headerItem {
  font-weight: 700;
  font-size: 14px;
  position: relative;
  z-index: 5;
}

.layout-1 #celek .table__contentText {
  padding: 20px 46px 20px 49px;
  width: 100%;
}

.layout-1 #celek .table__content {
  display: flex;
  align-items: center;
  box-shadow: 20px 3px 30px #00000029;
  max-height: 352px;
  width: 70.9%;
}

.layout-1 #celek .table__text {
  font-size: 14px;
  line-height: 26px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}

.layout-1 #celek .table__textHeader {
  font-size: 16px;
  margin-bottom: 18px;
}

.layout-1 #celek .table__image {
  display: block;
  max-width: 352px;
  width: 100%;
  margin-left: auto;
}

.layout-1 #celek .table__imageContainer {
  width: 100%;
}

.layout-1 #celek .table__headerItem--selected::before {
  content: "";
  width: 100%;
  height: 62px;
  border-right: 1px solid #e5004b;
  border-radius: 0 2px 2px 0;
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 2;
  background: linear-gradient(282deg, #e5004b 0%, #730026 100%);
}

.layout-1 #celek .table__headerItem--selected::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 31px solid transparent;
  border-left: 38px solid #e5004b;
  border-bottom: 31px solid transparent;
  display: block;
  position: absolute;
  top: -3px;
  right: -38px;
  z-index: 2;
}

@media screen and (max-width: 975px) {
  .layout-0 #celek .table__imageContainer {
    padding: 53px 29px 50px 0;
  }

  .layout-1 #celek .table__image {
    max-width: 244px;
  }
  .layout-1 #celek .table__contentText {
    padding: 20px 42px 20px 34px;
  }
}

@media screen and (max-width: 425px) {

  .mobile #celek .table, .layout-0 #celek .table__content {
    flex-direction: column;
  }

  .mobile #celek .table__header {
    max-width: unset;
    width: 100%;
  }

  .mobile #celek .table__headerItem--selected::after  {
    display: none;
  }

  .mobile #celek .table__content {
    width: 100%;
    max-height: unset;
    box-shadow: 0px 3px 30px #00000029;
  }

  .mobile #celek .table__contentText {
    padding: 31px 21px;
  }

  .mobile #celek .table__imageContainer {
    padding: 0;
  }

  .mobile #celek .table__image {
    max-width: unset;
  }
}

/*BLOCK 11*/

.layout-1 #celek .block-11 .benefits-block {
  display: flex;
  justify-content: flex-start;
  gap: 0;
  padding-top: 78px;
}

.layout-1 #celek .block-11 .benefits-block-image {
  width: 50%;
}

.layout-1 #celek .block-11 .benefits-image {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .mobile #celek .block-11 .benefits-block {
    padding-top: 0;
  }

  .mobile #celek .block-11 .benefits-block-image {
    width: 100%;
  }

  .mobile #celek .block-11 .benefits-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin-bottom: 41.5px;
  }
}

/*SLIDER*/

.layout-1 #celek .block-slider {
  padding-top: 43px;
  padding-bottom: 43px;
}

.layout-1 #celek .slider__header {
  display: flex;
  flex-direction: column;
}

.layout-1 #celek .slider__arrowLeft {
  transform: rotate(180deg);
}

.layout-1 #celek .slider {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 13px;
}

.layout-1 #celek .slider__container {
  margin-top: 20px;
  position: relative;
  padding: 0 35px;
}

.layout-1 #celek .slider__arrowContainer {
  position: absolute;
  z-index: 2;
  top: 110px;
}

.layout-1 #celek .slider__container::before, .layout-1 #celek .slider__container::after {
  content: '';
  width: 45px;
  height: 265px;
  display: block;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 0;
}

.layout-1 #celek .slider__container::before {
  left: 0;
}

.layout-1 #celek .slider__container::after {
  right: 15px;
}

.layout-1 #celek .slider__arrow:hover {
  cursor: pointer;
  box-shadow: 0px 3px 20px #0000004d;
  transition: all 0.5s ease;
}

.layout-1 #celek .slider__arrowContainerLeft {
  left: -10px;
}

.layout-1 #celek .slider__arrowContainerRight {
  right: -10px;
}

.layout-1 #celek .slider__arrow {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid #bbbbbb;
  transition: all 0.5s ease;
  position: relative;
  z-index: 99;
}

.layout-1 #celek .slider__item {
  flex-shrink: 0;
  transition: all 0.5s ease;
  padding: 0 13px;
}

.layout-1 #celek .slider__item:hover {
  cursor: pointer;
  box-shadow: 0px 3px 20px #0000004d;
  transition: all 0.5s ease;
}

.layout-1 #celek .slider__image {
  max-width: 182px;
  display: block;
}

.layout-1 #celek .slider__header {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.layout-1 #celek .slider__description {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 11px;
}

.layout-1 #celek .slider__price {
  font-size: 18px;
  line-height: 21px;
  color: #e5004b;
  font-weight: 700;
}

.layout-1 #celek .slider__discountPrice {
  font-size: 12px;
  line-height: 13px;
  display: inline-block;
  position: relative;
}

.layout-1 #celek .slider__discountPrice::after {
  content: "";
  width: 92%;
  height: 2px;
  background-color: #e5004b;
  display: block;
  transform: rotate(-16deg);
  position: absolute;
  top: 5px;
}

.layout-1 #celek .slider__headerTop {
  width: 13px;
  height: 3px;
  display: block;
  background-color: #e5004b;
  margin-bottom: 6px;
}

.layout-1 #celek .slider__imageContainer {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.layout-1 #celek .slider__discount {
  width: 47px;
  height: 47px;
  background: linear-gradient(180deg, #e5004b 0%, #730026 100%);
  position: absolute;
  top: 20px;
  left: 0;
  border-radius: 100%;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  font-size: 14px;
}

.layout-1 #celek .slider__header--fix {
  min-height: 36px;
}

.layout-1 #celek .slider__imageContainer::before {
  content: '';
  width: 2px;
  height: 265px;
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
  background: linear-gradient(180deg, #FFFFFF 0%, #CCCCCC 49%, #FFFFFF 100%);
}

@media screen and (max-width:425px) {
  .mobile #celek .slider {
    padding: 0;
  }
}

/*QUOTE*/

.layout-1 #celek .quoting {
  position: relative;
  background: rgb(229, 0, 75);
  background: linear-gradient(90deg, rgba(229, 0, 75, 1) 0%, rgba(115, 0, 38, 1) 100%);
  padding: 33px 36px;
  margin-top: 47px;
  margin-bottom: 53px;
}

.layout-1 #celek .quote {
  color: white;
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  width: 60%;
  margin: auto;
}

.layout-0 #celek .quote {
  color: white;
  font-size: 26px;
  line-height: 38px;
}

.layout-1 #celek .quoting-symbol {
  position: absolute;
  left: 36px;
  top: 28px;
}

.layout-1 #celek .banner-image {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .mobile #celek .banner-image {
    display: none;
  }
  .mobile #celek .quote {
    color: white;
    font-size: 24px;
    line-height: 36px;
  }

  .mobile #celek .quoting {
    margin-top: 27px;
    margin-bottom: 37px;
    padding: 56px 33px;
  }

  .mobile #celek .quote {
    width: 85%;
  }

  .mobile #celek .quoting-symbol {
    left: 21px;
    top: 18px;
  }
}

/*ANIMATION*/

.layout-1 #celek .image-wrapper-right {
  right: -100px;
}

.layout-1 #celek .image-wrapper-left {
  left: -100px;
}

.layout-1 #celek .header-top-border-inView {
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-name: barWidthgrow;
}

@keyframes barWidthgrow {
  from {
    width: 0px;
    transition: all 0.5s ease-in;
  }

  to {
    width: 67px;
    transition: all 0.5s ease-in;
  }
}

.layout-1 #celek .image-wrapper-right-inView {
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-name: imageRight;
}

@keyframes imageRight {
  from {
    right: -100px;
    transition: all 0.5s ease-in;
  }

  to {
    right: 0;
    transition: all 0.5s ease-in;
  }
}

.layout-1 #celek .image-wrapper-left-inView {
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-name: imageLeft;
}

@keyframes imageLeft {
  from {
    left: -100px;
    transition: all 0.5s ease-in;
  }

  to {
    left: 0;
    transition: all 0.5s ease-in;
  }
}